* {
    padding: 0; margin: 0;
}

html {
    font-size: 62.5%;
}

:root {
    --font-color: #b2b2b2;
}

h1 {
    font-size: 4rem;
    text-align: center;
}

h2 {
    font-size: 2.5rem;
    text-align: center;
}

h3 {
    font-size: 1.5rem;
    text-align: center;
}

.game p {
    font-size: 4rem;
    text-align: center;
}

a {
    font-size: 4rem;
    color: var(--font-color);
    text-decoration: none;
}

body {
    background: #393434;
}

header {
    height: 10rem;
    width: 100%;
    padding: 15px 0;
    background-color: #393434;
    color: var(--font-color);
}

.navigation a {
    color: var(--font-color);
    text-decoration: none;
}

.navigation ul {
    list-style: none;
    margin: 0;
}

.game {
    position: relative;
    width:800px;
    height:500px;
    border:4px solid black;
    margin:0 auto;
    background-color:lightgray;
    border-radius:30px;
}

.home {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 10;
}

.main {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 0;
}

.result {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 0;
}