<!DOCTYPE html>
<html>

    <head>
        <title>Type50</title>
        <script src="/type50.js"></script>
        <link href="/static/styles.css" rel="stylesheet">
        <audio id="correct" src="/correct.mp3"></audio>
        <audio id="miss" src="/miss.mp3"></audio>
    </head>

    <header class="header">
        <h1><a href="home.html">Type50</a></h1>
    </header>

    <body>
        <div id="home" class="game home">
            <h1 id="start" class="text" style="line-height: 250px;">Press Mouse To Start</h1>
        </div>

        <div id="main" class="game main">
            <h1 id="remaining" class="text"></h2>
            <h1 id="upper" class="text"></h1>
            <h1 id="downer" class="text"></h1>
            <h2 id="answerd" class="text"></h2>
        </div>

        <div id="result" class="game result">
            <h1 id="finish" class="text"></h1>
            <h2 id="score" class="text"></h2>
            <h2 id="resultAnswerd" class="text"></h2>
            <h2 id="typed" class="text"></h2>
            <h2 id="missType" class="text"></h2>
            <h2 id="accuracy" class="text"></h2>
            <h3>Press Tytle to restart</h3>
        </div>
    </body>

</html>