<!DOCTYPE html>
<html>

    <head>
        <title>Type50</title>
        <script src="../type50.js"></script>
        <link href="../static/styles.css" rel="stylesheet">
        <audio id="correct" src="../source/correct.mp3"></audio>
        <audio id="miss" src="../source/miss.mp3"></audio>
    </head>

    <header class="header">
        <h1><a href="index.html">Type50</a></h1>
    </header>

    <body>
        <div id="home" class="game home">
            <h1 id="start" class="introduction">Press Mouse To Start</h1>
        </div>

        <div id="main" class="game main">
            <div class="game-navigation">
                <p id="time-remaining" class="text"></p>
                <p id="combo"></p>
            </div>
            <p id="word-remaining" class="word-remaining"></p>
            <p id="typed-words" class="text"></p>
        </div>

        <div id="result" class="game result">
            <h1 id="finish" class="text"></h1>
            <p id="score" class="text"></p>
            <p id="resultAnswered" class="text"></p>
            <p id="maxCombo" class="text"></p>
            <p id="typed" class="text"></p>
            <p id="missType" class="text"></p>
            <p id="accuracy" class="text"></p>
            <p>Press Title to restart</p>
        </div>
    </body>

</html>